body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
}
#app{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#main{
    -webkit-box-shadow: 10px 26px 122px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 26px 122px 12px rgba(0,0,0,0.75);
    box-shadow: 10px 26px 122px 12px rgba(0,0,0,0.75);
    height: 800px;
    width: 400px;
    background-color: #F2F2F2;
    opacity: 0.9;
    border-radius: 30px;
}
#results{
    height: 800px;
    width: 800px;
    background-color: #F2F2F2;
    opacity: 0.9;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    border-radius: 30px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 10px 26px 122px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 26px 122px 12px rgba(0,0,0,0.75);
    box-shadow: 10px 26px 122px 12px rgba(0,0,0,0.75);
}
.header{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #008080;
    font-size: 18px;
    transition: 0.4s;
}
.header:hover{
    background-color:#008B8B;
}
#login{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
#form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login button{
    cursor: pointer;
    margin: 0;
    border: 0px;
    font-size: 18px;
    padding: 10px;
    border-radius: 40px;
    margin: 20px;
    background-color: #008080;
    color: white;
    transition: 0.4s;
}
#login button:hover{
    background-color:#008B8B;
    -webkit-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
}
#form{
    display: none;
}
input{
    margin-right: 0;
    border: 0px;
    font-size: 24px;
    background-color:#F2F2F2;
    margin: 10px;
    border-bottom: 3px solid #008080;
}
#form button{
    background-color: #008080;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0;
    border: 0px;
    font-size: 24px;
    transition: 0.4s;
    color: white;
    border-radius: 30px;
}
#form button:hover{
    background-color:#008B8B;
    -webkit-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
.object{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;
    margin: 20px;
    font-size: 20px;
    background-color: #DCDCDC;
    color: black;
    transition: 0.4s;
    border-radius: 30px;
}
.object:hover{
    background-color:#008B8B;
    -webkit-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
    cursor: pointer;
}
.hideObject{
    display: none;
}
input:focus {
    outline-width: 0;
}
#bar{
    width: 800px;
    position: fixed;
    margin-bottom: 100px;
}
#done{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: scroll;
    height: 360px;
    margin-top: 20px;
    overflow-x: hidden;
}
#static-header{
    position: fixed;
    background-color:#008080;
    width: 391px;
}
#buttons{
    display: flex;
    flex-direction: row;
}
#buttons button{
    margin: 10px;
}
#red{
    background-color: #8B0000 !important;
}
#orange{
    background-color: #FF8C00 !important;
}
#green{
    background-color: #32CD32 !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  right: 100px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}